@import url("16px.css");

body {
    font-family: 'Alegreya Sans', sans-serif;
    color: black;
}

ul {
    border: 2px solid black;
}

table {
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}